# Text files must always keep LF
* text eol=lf

# The following files are binaries and should not be touched
*.bin binary
*.png binary
*.zip binary
*.exe binary
*.jpg binary

# Automatically solve conflicts for the following files.
# Note: They need to be updated anyway after a merge.
# Note: Using keepMine for MD5 & keepTheir for version
#       in order to have different branch name
#       and prevent wrong integrity check.
plugin_info/Abeille.md5 merge=keepMine
plugin_info/Abeille.version merge=keepTheir
plugin_info/info.json merge=keepTheir
